.main {
  display: table;
  margin: 0 auto;
}

.board {
  background: #efefef;
  border: 1px solid #a2a2a2;
  margin: 20px auto 0;
}

.goal,
.releases-by-goal {
  border-top: 1px dashed rgba(0, 0, 0, .2);
  border-right: 1px dashed rgba(0, 0, 0, .2);

  &:last-child {
    border-right: none;
  }
}

.goal {
  border-top: none;
}